<div class="info">
  <span class="id">
    <h2>id</h2>
    <%= id %>
  </span>
  <span class="type">
    <h2>type</h2><%= type %>
  </span>
  <span class="hull">
    <h2>hull</h2><%= hull %>
  </span>
</div>
<div class="position">
  <span class="coord"><h2>x</h2><span class="x"><%= position.x %></span></span>
  <span class="coord"><h2>y</h2><span class="y"><%= position.y %></span></span>
  <span class="coord"><h2>z</h2><span class="z"><%= position.z %></span></span>
</div>
<div class="controls">
    <button class="thrust rollLeft">Roll L</button>
    <button class="thrust rollRight">Roll R</button>
    <button class="thrust pivotLeft">Piv L</button>
    <button class="thrust pivotRight">Piv R</button>
    <button class="thrust noseUp">Up</button>
    <button class="thrust noseDown">Down</button>
    <button class="drive">Drive</button>
    <button class="fire">Fire</button>
</div>
