[submodule "vendors/documentcloud/backbone"]
	path = vendors/documentcloud/backbone
	url = git@github.com:/documentcloud/backbone.git
[submodule "vendors/documentcloud/underscore"]
	path = vendors/documentcloud/underscore
	url = git@github.com:/documentcloud/underscore.git
[submodule "vendors/mrdoom/three.js"]
	path = vendors/mrdoom/three.js
	url = git@github.com:/mrdoob/three.js.git
